[submodule "dashboard/firmware/lib/Audio"]
	path = dashboard/firmware/lib/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "dashboard/firmware/lib/ILI9341_t3"]
	path = dashboard/firmware/lib/ILI9341_t3
	url = https://github.com/PaulStoffregen/ILI9341_t3.git
[submodule "dashboard/firmware/lib/XPT2046_Touchscreen"]
	path = dashboard/firmware/lib/XPT2046_Touchscreen
	url = https://github.com/PaulStoffregen/XPT2046_Touchscreen.git
[submodule "dashboard/firmware/lib/FlexCAN_Library"]
	path = dashboard/firmware/lib/FlexCAN_Library
	url = https://github.com/pawelsky/FlexCAN_Library
